body {
  font-family: "Lato", sans-serif;
  background-color: rgb(220,220,220,.3);
}

.cust-navbar {
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: rgb(0,0,0,.3);
}

.cust-navbar a {
  text-decoration: none;
}

.border-right {
  border-right: 1px solid white;
  padding-right: 5px;
  margin-right: 5px;
}

.masthead {
  height: 90vh;
  min-height: 500px;
  background-image: url("../images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.masthead-text {
  top: 30vh;
}


#portfolio a {
 text-decoration: none;
}


#social-bar-container {
  width: 296px;
  border: #222 1px solid;
}

#social-bar a {
  /* width: 30px; */
  color: #222;
  background-color: #fff;
  text-decoration: none; 
  text-align: center;
  font-size: 25px; 
  margin: 0;
  padding: 15px 25px 15px 25px;
}

.social-bar-border {
  border-right: 1px solid #222;
}



.cv-table {
  list-style: none;
  padding: 0;
  margin: 0px 0px 30px 0px;
  vertical-align: bottom;
  display: inline-block;
}

.cv-table li:first-child {
  border-top: 1px solid #f3f3f3;
}

.cv-table li:first-child, .cv-box .cv-table li:first-child {
  padding-top: 10px;
  margin-top: 10px;
}

.cv-table li {
  border-bottom: 1px solid #f3f3f3;
}
.cv-table li {
  color: #949494;
}

.cv-table li {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  word-spacing: 0.1em;
  line-height: 1.5;
}

.cv-table-left {
  float: left;
  padding-bottom: 12px;
}

.cv-table-right {
  float: right;
  padding-bottom: 12px;
}

.cv-icon {
  text-align: center;
  margin-right: 10px;
}

svg {
  width: 15%;
  margin: 5px;
}

