html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: white;
  color: black;
}


/* Navbar */
.cust-nav {
  background-color: #2C2B30;
  color: white; 
  font-size: 25px;
}
.navbar-links a, .navbar-links span {
  float: right;
  color: #5fc0fc;
  font-size: large;
  text-decoration: none;
  margin-left: 20px;
}


/* Header */
.wave-container {
  background: white;
  margin: 0;
}
.wave-container > svg {
  display: block;
}
.header {
  height: 60vh;
  min-height: 400px;
  background-color: #2C2B30;
  margin: 0;
  color: white;
}
.header h1 {
  font-family: 'Alice', serif;
  margin-top: 20px;
  margin-bottom: 20px;
}
.header a {
  text-decoration: none;
  color: white;
}
.connect-linkedin {
  background-color: #5fc0fc;
  border: 1px solid #5fc0fc;
  padding: 10px;
  margin: 3px;
  font-size: medium;
}
.connect-github {
  border: 1px solid white;
  padding: 10px;
  margin: 3px;
  font-size: medium;
}
.connect-linkedin:hover, .connect-github:hover {
  background-color: #5fc0fc;
  border: none;
}


/* About me */
.about-me h1 {
  font-family: 'Alice', serif;
}


/* Portfolio */
.portfolio-title {
  font-family: 'Alice', serif;
}
.portfolio-rcfit h3, .portfolio-mongoscraper h3, .portfolio-unwrapped h3 {
  font-family: 'Alice', serif;
}
.portfolio-rcfit, .portfolio-mongoscraper, .portfolio-unwrapped {
  position: relative;
}
.portfolio-rcfit img, .portfolio-mongoscraper img, .portfolio-unwrapped img {
  display: block;
  width: 100%;
  height: auto;
}
.overlay-rcfit, .overlay-mongoscraper, .overlay-unwrapped {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0.85;
  transition: .7s ease;
  background-color: #000;
}
/* .portfolio-rcfit:hover > .overlay-rcfit, .portfolio-mongoscraper:hover > .overlay-mongoscraper, .portfolio-unwrapped:hover > .overlay-unwrapped {
  opacity: .85;
} */
.overlay-text {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.overlay-text a {
  text-decoration: none;
}





/* Contact */
.contact {
  position: relative;
}
.contact-title {
  font-family: 'Alice', serif;
}
.contact a {
  text-decoration: none;
  color: black;
}
.contact td {
  font-size: 15px;
  color: black;
}








@media (max-width: 500px) {
  /* Navbar */
  .cust-nav {
    font-size: 20px;
  }
  .navbar-links a, .navbar-links span {
    font-size: medium;
    margin-left: 10px;
  }

  .profile {
    width: 280px;
  }
  .header h1 {
    font-size: 35px;
  }

  /* Portfolio */
  .overlay-text h3 {
    font-size: 22px;
  }
  .overlay-text p, .overlay-text a {
    font-size: 12px;
  }
}
@media (max-width: 420px) {
  /* Navbar */
  .cust-nav {
    font-size: 20px;
  }
  .navbar-links a, .navbar-links span {
    font-size: medium;
    margin-left: 5px;
  }

  .profile {
    width: 260px;
  }
  .header h1 {
    font-size: 35px;
  }

  /* Portfolio */
  .overlay-text h3 {
    font-size: 18px;
  }
  .overlay-text p, .overlay-text a {
    font-size: 8px;
  }
}
@media (max-width: 330px) {
  /* Navbar */
  .cust-nav {
    font-size: 20px;
  }
  .navbar-links a, .navbar-links span {
    font-size: medium;
    margin-left: 5px;
  }

  .profile {
    width: 240px;
  }
  .header h1 {
    font-size: 30px;
  }
}