body {
  font-family: "Lato", sans-serif;
  background-color:white;
}

.header-background {
  height: 80vh;
  min-height: 500px;
  background-image: url("../images/greenplants.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  position: absolute;
  left: 8%;
  top: 8%;
  z-index: 1;
}

.about-background {
  height: 90vh;
  min-height: 500px;
  background-image: url("../images/cactus.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-title {
  position: relative;
  top: 8%;
  z-index: 1;
}

.connect-email {
  background-color: rgba(96, 110, 96, 0.781);
  padding: 10px;
  margin-right: 2px;
  margin-left: 2px;
}

.connect-linkedin {
  background-color: rgba(96, 110, 96, 0.562);
  padding: 10px;
  margin-right: 2px;
  margin-left: 2px;
}

.connect-github {
  background-color: rgba(96, 110, 96, 0.384);
  /* background-color: rgb(82, 114, 82); */
  padding: 10px;
  margin-right: 2px;
  margin-left: 2px;
}

.header a {
  text-decoration: none;
  color: white;
}

.header-links {
  height: 20vh;
}

.header-links a {
  text-decoration: none;
  color: black;
}

.portfolio-title {
  height: 70vh;
  background-color: rgba(205, 205, 205, 0.797);
  border: white solid 10px;
}

.portfolio-rcfit7 {
  height: 70vh;
  background-color: rgba(205, 205, 205, 0.66);
  border: white solid 10px;
}

.portfolio-mongoscraper {
  height: 70vh;
  background-color: rgba(205, 205, 205, 0.263);
  border: white solid 10px;
}

.portfolio-unwrapped {
  height: 70vh;
  background-color: rgba(205, 205, 205, 0.598);
  border: white solid 10px;
}

/* .masthead-text {
  top: 30vh;
}


#portfolio a {
 text-decoration: none;
}


#social-bar-container {
  width: 296px;
  border: #222 1px solid;
} */

/* #social-bar a { */
  /* width: 30px; */
  /* color: #222;
  background-color: #fff;
  text-decoration: none; 
  text-align: center;
  font-size: 25px; 
  margin: 0;
  padding: 15px 25px 15px 25px; */
/* } */

/* .social-bar-border {
  border-right: 1px solid #222;
}



.cv-table {
  list-style: none;
  padding: 0;
  margin: 0px 0px 30px 0px;
  vertical-align: bottom;
  display: inline-block;
}

.cv-table li:first-child {
  border-top: 1px solid #f3f3f3;
}

.cv-table li:first-child, .cv-box .cv-table li:first-child {
  padding-top: 10px;
  margin-top: 10px;
}

.cv-table li {
  border-bottom: 1px solid #f3f3f3;
}
.cv-table li {
  color: #949494;
}

.cv-table li {
  position: relative;
  display: inline-block;
  width: 100%;
  padding-left: 0px;
  margin-bottom: 10px;
  font-size: 18px;
  word-spacing: 0.1em;
  line-height: 1.5;
}

.cv-table-left {
  float: left;
  padding-bottom: 12px;
}

.cv-table-right {
  float: right;
  padding-bottom: 12px;
}

.cv-icon {
  text-align: center;
  margin-right: 10px;
}
*/

svg {
  width: 15%;
  margin: 8px;
  margin-right: 18px;
} 

@media (max-width: 580px) {
  .profile {
    width: 260px;
  }
  .header-name {
    margin-top: 20px;
    font-size: 30px;
  }
  .header-role {
    margin-top: 3px;
    margin-bottom: 40px;
    font-size: 18px;
  }
  .header-links-text {
    font-size: 20px;
  }
}

@media (max-width: 360px) {
  .profile {
    width: 260px;
  }
  .header-name {
    margin-top: 20px;
    font-size: 25px;
  }
  .header-role {
    margin-top: 10px;
    font-size: 15px;
  }
}

